<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExchangeableToken"
        >
        <activity
            android:name=".AddTransactionActivity"
            android:exported="true"
            android:label="@string/title_activity_add_transaction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <meta-data
                android:name="android.app.lib_version"
                android:value="" />

            <meta-data
                android:name="android.app.lib_version_code"
                android:value="" />

            <meta-data
                android:name="android.app.lib_is_debug"
                android:value="" />

            <meta-data
                android:name="android.app.lib_is_release"
                android:value="" />

            <meta-data
                android:name="android.app.lib_is_debuggable"
                android:value="" />

            <meta-data
                android:name="android.app.lib_is_releasable"
                android:value="" />

            <meta-data
                android:name="android.app.lib_is_testable"
                android:value="" />

            <meta-data
                android:name="android.app.lib_is_tested"
                android:value="" />
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:exported="true"
            android:label="@string/title_activity_transaction"
            android:theme="@style/Theme.ExchangeableToken.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SearchProductActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProductActivity"
            android:exported="false"
            android:label="@string/title_activity_product"
            android:theme="@style/Theme.ExchangeableToken.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WalletStatusActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ExchangeableTokenActivity"/>
        <activity android:name=".ChooseSignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SuccessfulSignUpActivity" />
        <activity android:name=".MarketActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>